html {
    background: lightgreen;
    font-size: 150%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5%;
}

/*this is a class, just use the dot*/
.yellow {
    color: yellow;
    font-size: 200%;
}

/*gets rid of underscore on the links*/
a {
    text-decoration: none;
}

